:root{
    --container-width: 1024px;
    --container-padding-x: 16px;

    --color-bg-weather: #D34D4D;
    --color-bg-page:#4d1e66;
    --color-title: #76d7e0;
    --color-accent: #20718A;
    --color-text-input: #1B1818;
    --color-bg-search:#648AC2;
    --color-white: #fff;
    --color-title-card:#3DAE5D;
    --border-radius: 20px;

    --input-height: 52px;
    --input-width: 520px;

    --font-search: "Unageo";
    --font-parametrs-weather: "Kinoble";
    --font-temperatur: 'Jua';
}